@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
}
html {
  background-color: #4D3531;
}
body {
  background-color: #FC9047;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: #FFF7F6;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  size: 25px;
}

.on:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
 }
 
.on {
  opacity: 100%;
}
.off {
  opacity: 44%;
}

html{
  background-color: #4D3531;
}

#root {
  background-color: #4D3531;
  color: #FFF7F6;
}

.brown {
  background-color: #AC5043;
}

.orange-link {
  background-color: #DCB5AE;
  border: 1px solid #AC5043;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: 500;
}
.orange-link:hover {
  background-color: #FFF7F6;
  color: #000;
  border: none;
}
.clear {
  background-color: transparent;
  text-decoration: none;
  color: #FFF7F6;
  padding: 5px;
  font-weight: 500;
}

.orange {
  font-weight: 700;
  color: black;
}

.white {
  color: #FFF7F6;
}

.black {
  color: black;
}

h5{
  color: black;
}

p{
  color: black;
}
.marker img{
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.card-body {
  background-color: #DCB5AE;
}

nav a {
  transition: 0.4s ease
}
nav a:hover {
  margin:0;
  padding: 20px 0; 
  background-color: #4D3531;
}

.logo {
  position: relative;
  width: 50px;
  height: 50px; 
  box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
  overflow: hidden;
  z-index: auto;
}