html {
  background-color: #4D3531;
}
body {
  background-color: #FC9047;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  size: 25px;
}
.on {
  color: yellow;
}
.off {
  color: #ccc;
}
.card-header{
  background-color: #FC9047;
}

.header {
  background-color: #AC5043;
}
#root {
  background-color:#4D3531;
}

nav a {
  transition: 0.4s ease
}
nav a:hover {
  margin:0;
  padding: 20px 0; 
  background-color: #AC5043;
}