body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: #FFF7F6;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  size: 25px;
}
.on {
  color: yellow;
}
.off {
  color: #ccc;
}

html{
  background-color: #4D3531;
}

#root {
  background-color: #4D3531;
  color: #FFF7F6;
}

.brown {
  background-color: #AC5043;
}

.orange-link {
  background-color: #DCB5AE;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: 500;
}

.orange {
  font-weight: 700;
  color: black;
}

.white {
  color: #FFF7F6;
}

.black {
  color: black;
}

h5{
  color: black;
}

p{
  color: black;
}
